.references-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Full height of the viewport */
  }
  
  /* Style the image */
  .references {
    width: 450px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
  a {
    color: #FFD285;
    text-decoration: none; 
    font-weight: 500; 
  }
  .useful-links{
    line-height: 1rem;
  }
  a:hover {
      text-decoration: underline; 
  }