.home {
    text-align: center;
    padding: 20px;
    background-color: #00ffcc;
  }
  
  .home h2 {
    font-size: 3rem;
    color: #2f855a;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #4a5568;
  }
  
  .home img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(230, 0, 0, 0.1);
  }
  