.prep-process {
  background-color: #412525;
  color: white;
  font-family: 'Joan', sans-serif;
  padding: 50px;
  text-align: center;
  z-index: 1;
  margin-top: 20px;
}

.farm-title {
  font-size: 3rem;
  color: #FFD285;
  margin-bottom: 20px;
}

.centered-text {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0 auto 20px auto;
  width: 70%;
  color: #f0e5d8;
  text-align: center;
}

.dark-brown-box {
  background-color: #5C4033;
  color: #f0e5d8;
  padding: 30px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.dark-brown-boxx {
  background-color: #5C4033;
  color: #f0e5d8;
  padding: 30px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.box-imagee {
  width: 90%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 15%;
  border: 5px solid #FFD285;
}

.box-content {
  flex: 1;
  text-align: center;
}

.box-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #FFD285;
}

.box-text {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .dark-brown-box {
      flex-direction: row;
      text-align: left;
  }
  .dark-brown-boxx {
    flex-direction: row;
    text-align: left;
}
  .box-imagee {
      margin-right: 20px;
      margin-bottom: 0;
  }
  .box-content {
      text-align: left;
  }
}

@media (max-width: 480px) {
  .farm-title {
      font-size: 2.5rem;
  }
  .centered-text {
      font-size: 1.3rem;
      width: 90%;
  }
  .box-title {
      font-size: 1.6rem;
  }
  .box-text {
      font-size: 1.1rem;
  }
}
